body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app{
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg1{
    /* background-image: url("./assets/images/bg-desktop-dark.jpg"); */
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 40%;
    background-size: cover;
    z-index: -1;
}

.bg2{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: -1;
}

.note{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444444;
    width: 17em;
    padding: 0.2em 0;
    color: ivory;
}

.heading{
    display: flex;
    align-items:stretch;
    justify-content: space-between;
    width: 17em;
    margin: 1em 0;
}

@media(max-width:768px){
    .note{
        width: 18.5em;
        padding: 0.4em 0;
    }

    .heading{
        width: 18.5em;
    }
}